header{
    height: 100vh !important;
}

.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#tit{
    color:white;
}
#about_btn{
    margin-top: 75vh;
}
.row-header {
	margin: 0px auto;
	padding: 0px auto;
	
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

address {
    font-size:80%;
    margin:0px;
    color:floralwhite;
}
.footer{
    background-color: #706b69;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:floralwhite;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:black;
}



body{
    width: 100vw; 
    padding:50px 0px 0px 0px;
    z-index:0;
    background-color: #fffdd0;
    overflow-x: hidden;
}

.navbar-dark {
 transition:500ms ease;
background: #353332; 
z-index: 2;
 
}
.trans{
 background: transparent;
 color:black;
}

.trans:hover{
background:#353332;

    opacity: 0.7;
}

.nav-sub{
background: #353332; 
color: white;
}
#thin::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#thin::-webkit-scrollbar
{
	width: 10px;
	background-color: #353332;;
}

#thin::-webkit-scrollbar-thumb
{
	background-color: #353332;
	border: 2px solid #353332;
}

.subtitle {
  background-color: #333333;
  color: #fff;
  display: block;
  font-size: 2.4em;
  line-height: 1;
  margin-top: 20px ;
  margin-left: auto;
  margin-right: auto ;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  width: 55vw;
  
}
