div.overlay1c
{
  background-color: black;
}
div.overlay1s
{
  background-color: black;
}
img.srijan_temp:hover
{
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  opacity: 0.5;
}
img.concetto_temp:hover
{
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  opacity: 0.5;
}
div.srijancontent
{
  padding: inherit;
  width: 100%;
  height: 20%;
  position: relative;

}
div.srijancontent:hover
{
  background-color: rgba(0,0,0,0.5);
  opacity: 0.5;

}
button.concettobutton
{
  border-radius: 0px;
  border:0px solid white;
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
}
button.concettobutton:hover
{
  color:rgb(0,153,260);
  font-size: 32px;
  font-weight: bolder;
}
button.srijanbutton
{
  border-radius: 0px;
  border:0px solid white;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
}
button.srijanbutton:hover
{
  font-size: 32px;
  font-weight: bolder;
  color: rgb(0,153,260);
}
div.topbuttons
{
  width: 100%;
  position: relative;
}
